/* .container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
} */

.botao {
  display: inline-block;
  text-transform: uppercase;
  max-width: max-content;
  cursor: pointer;
}

